#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

main {
  flex-grow: 1;
}

.sombra {
  box-shadow: 0px 0px 15px white, 0px 0px 20px 10px rgb(8, 239, 255);
}
